@model string
@if (Session["UserRole"] != null && Session["UserName"] != null)
{
    <script>
    // Abre una nueva pestaña o ventana con el PDF
    window.open('@Model', '_blank');
    </script>
}
else
{
    <h2>Inicie sesión para observar el contenido.</h2>
}